/* General body styles */
body {
  font-family: 'Kantumruy Pro', serif;
  font-size: 0.75em;
  color: #1f1e21;
  margin: 0;
  padding: 0;
  background-color: #202029;
}

h1 {
  font-family: 'Julius Sans One', serif;
  font-size: 2.1em;
  font-weight: bold;
  color: #400554;
  margin: 10px 0;
}

h2 {
  font-family: 'Julius Sans One', serif;
  font-size: 1.7em;
  font-weight: bold;
  color: #400554;
  margin: 10px 0;
}

/* Layout grid for panels */
.container {
  display: grid;
  grid-template-rows: 1fr 1fr; /* Two rows: one for top panels, one for bottom panel */
  grid-template-columns: 1fr 1fr; /* Two columns for top panels */
  height: 100vh;
  gap: 10px;
}

/* Top left panel */
.info-panel {
  grid-row: 1 / 2; /* First row */
  grid-column: 1 / 2; /* First column */
}

/* Top right panel */
.applet-panel {
  grid-row: 1 / 2; /* First row */
  grid-column: 2 / 3; /* Second column */
}

/* Bottom panel spanning both columns */
.table-panel {
  grid-row: 2 / 3; /* Second row */
  grid-column: 1 / 3; /* Spans across both columns */
}

/* Panel styles */
.panel {
  display: flex;
  justify-content: center; /* Centre the inner-box horizontally */
  align-items: center; /* Centre the inner-box vertically */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.0); /* Semi-transparent background */
  border: 0px solid rgba(0, 0, 0, 0.2); /* Subtle border */
  --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  --backdrop-filter: blur(5px); /* Optional blur for frosted glass effect */
}

/* Inner box styles */
.inner-box {
  border: 5px solid rgba(255, 255, 255, 0.3); /* Subtle border */
  border-radius: 10px; /* Rounded corners */
  background-color: #faf9e8;
  padding: 20px; /* Padding inside the box */
  margin: auto; /* Automatically centre */
  width: 80%; /* Adjust width to fit within the parent */
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.5); /* Slight shadow for depth */
  text-align: center; /* Centre-align text within the box */
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 8px;
  text-align: left;
}

/* Input and button styles */
label, input, select, button {
  display: block;
  margin: 10px auto;
}

label {
  font-style:normal;  
}

input, select {
  font-family: 'Open Sans', serif;
  font-size: 1em;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

button {
  font-family: 'Julius Sans One', serif;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #400554;
  color: #faf9e8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f2d233;
  color: #400554;
}

/* Result display styles */
#result {
  margin-top: 20px;
  font-size: 1em;
  text-align: left;
}

#result p {
  margin: 5px 0;
}
