body {
  font-family: 'Bona Nova', serif;
  text-align: center;
  margin: 20px;
}

select {
  font-family: 'Bona Nova', serif;
  font-size: 1em; /* Adjust font size as needed */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

option {
  font-family: 'Bona Nova', serif;
}

input::placeholder {
  font-family: 'Bona Nova', serif;
  font-size: 1em; /* Adjust size as needed */
  color: #888; /* Placeholder text color */
}

#converter {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

label, input, select, button {
  display: block;
  margin: 10px auto;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
  font-size: 1em;
  text-align: left;
}

#result p {
  margin: 5px 0;
}
